[mysqld]
secure-file-priv= NULL
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
init-connect='SET NAMES UTF8'
skip-character-set-client-handshake
character-set-server=utf8
sql_mode=
max_allowed_packet=10485760